<div class="margin-680">
  <div class="hero">
    <div class="inner">
      <h1>page not found</h1>
      <p>
        We didn&rsquo;t find &ldquo;{{ router.url }}&rdquo; our servers... Check if the URL you
        entered is correct and has no typos. If you know there is supposed to be something here,
        please email
        <a href="mailto:{{ environment.support.email }}">{{ environment.support.email }}</a>
      </p>
      <p>
        <a href="/user/login" routerLink="/user/login">login</a> //
        <a href="/user/signup" routerLink="/user/signup">signup</a>
      </p>
    </div>
  </div>
</div>
