/* You can add global styles to this file, and also import other style files */
*
	font-family: "Airbnb Cereal App" !important

[class^='margin-'], [class*=" margin-"]
	display: block
	margin: 0 auto
	padding: 0 1rem

h1
	font-weight: 600

.margin-960
	max-width: 960px

.margin-680
	max-width: 680px

.header .header-nav, header .header-nav
	max-width: 85%
	overflow-y: hidden
	overflow-x: auto

// .header .header-nav, header .header-nav
// 	sc

@media screen and (max-width: 768px)
	.main-container.open-hamburger-menu .clr-vertical-nav.clr-nav-level-1, .main-container.open-hamburger-menu .header-nav.clr-nav-level-1, .main-container.open-hamburger-menu .sidenav.clr-nav-level-1, .main-container.open-hamburger-menu .sub-nav.clr-nav-level-1, .main-container.open-hamburger-menu .subnav.clr-nav-level-1
		margin-top: 2.5rem
		padding-top: 0
		overflow: auto

@media screen and (max-width: 768px)
	.main-container.open-hamburger-menu .header .branding
		background: #1b2a32