.hero, .c2a
	height: 60vh
	min-height: 400px
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	.inner
		width: 100%
		h1, p
			margin: 0
		h1, h3
			font-weight: 600
		p
			&:last-of-type
				margin-top: .5rem
				
.clr-row
	.clr-col-lg-4
		.card
			.card-header
				font-weight: 500
				
.c2a
	height: 30vh
	min-height: 300px